<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Eat da Burger

    </title>
</head>

<body>
    {{{ body }}}
    <input id="burgerName">
    <button id="save">Save</button>
    <script src="./assets/style.js"></script>

</body>

</html>