<div>
    <div id="devourBurgers">
        {{#each burgers}}
        {{#if devour}}
        <p>{{burgerName}}</p>
        {{/if}}
        {{/each}}
    </div>
    <div id="burger">
        {{#each burgers}}
        {{#unless devour}}
        <p>{{burgerName}}</p>
        <button id={{id}} class="devour">devour</button>
        {{/unless}}
        {{/each}}
    </div>
</div>